<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/image/weather.png">
    <link rel = "stylesheet" href="/css/style.css">    <!--rel stands for relationship, href is the refering path-->
    
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="./image/tech.png">
    </div>
    
    {{>footer}}
</body>



</html>