<header>
    <h1>{{title}}</h1>
    <a href="/">Weather</a>                 <!--link-->  <!--Weather link brings u to main page-->
    <a href="/about">About</a>                          <!--About link brings u to about page-->
    <a href="/help">Help</a>
</header>